
#canvas-container {
  margin-left: auto;
  margin-right: auto;
}

canvas {
  border: solid 3px black;
  cursor: none;
  top: 25%;
  bottom: 25%;
  left: 25%;
  right: 25%;
  will-change: webkitTransform;
}

body {
  height: 100%;
  overflow: hidden;
}

#color-bar {
  position: fixed;
  top: 0;
  z-index: 100;
}

.color-button {
  border: 1px black; !important
  background-color: #ffffff;
  height: 59px;
  width: 59px;
  cursor: pointer;
}

